*{
	font-family: helvetica;
}

main{
	margin: 20px;
}

nav{
	background-color: black;
	padding: 20px;
	color: white;
}

section{
	border: 1px solid;
	border-radius: 7px;
	padding: 20px;
	margin-bottom: 20px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
}

p{
	color: grey;
}

input{
    font-size: 20px;
    width: 200px;
    padding: 5px;
    border-radius: 7px;
}

button{
	font-weight: 600;
    color:#fff;
    font-size: 20px;
    padding: 5px;
    background-color: #0069ff;
    text-align: center;
    border-radius: 7px;
}

button:hover{
	background-color: darkblue;
	color: white;
}

footer{
	text-align: center;
}
ul{
	display: inline;
	list-style: none;
	padding-top: 20px;
}
li{
   display: inline;
   padding: 10px;
   border-radius: 7px;
   text-align: center;
   background-color: orange;
   margin-right: 30px;
   line-height: 60px;
}

li:hover{
	background-color: darkorange;
}

a{
	text-decoration: none;
	font-weight: 700;
	color: black;
}
